{ZL.Source id="就医指南数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="就医指南数据源标签" FD="Title" page="0"/}</title>
<link href="/skin/style.css" rel="stylesheet" type="text/css" />
<meta name="Keywords" content="{SField sid="就医指南数据源标签" FD="Tagkey" page="0"/}">
{ZL:Boot()/} 
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
</head>
<body>
{ZL.Label id="输出文章" GeneralID="196" /}
</body>
</html>
 